{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if lista_ultimas_preguntas %}
    <ul>
        {% for i in lista_ultimas_preguntas %}
            <li>
                <!--removing hardcoded url and replacing it by name=-->
                {# <a href="/polls/{{ question_id }}/">{{ i.question_text}}</a> #}
                {# polls:detalle a partir de app_name en polls/urls.py #}
                <a href="{% url 'polls:detalle' i.id %}">{{ i.question_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available</p>
<{% endif %}